<footer class="site-footer">
  <div class="container">
    {% block footer_content %}
      <div class="row">
        <div class="col-xs-12 col-sm-6">
          <a class="logo" href="{{ h.url('home.index') }}"><img src="/img/odp-logo.png" srcset="/img/odp-logo@2x.png 2x" alt="{{ g.site_title }} Logo" height="31" width="210" title="{{ g.site_title }} Logo" /></a>
        </div>
        <div class="col-xs-6 col-sm-3">
          <ul>
            {% block header_site_navigation_tabs %}
              {{ h.build_nav_main(
                ('search', _('Datasets')),
                ('organizations_index', _('Organizations')),
                ('home.about', _('About'))
              ) }}
            {% endblock %}
          </ul>
        </div>
        <div class="col-xs-6 col-sm-3">
          <ul>
            <li><a href="/pages/faq">FAQ</a></li>
            <li><a href="/pages/contact">Contact</a></li>
            <li><a href="/pages/terms">Terms</a></li>
          </ul>
        </div>
      </div>
    {% endblock %}
  </div>

  {% block footer_debug %}
    {% if g.debug %}
      {% include 'snippets/debug.html' %}
    {% endif %}
  {% endblock %}
</footer>
