<!--

This file overrides the layout1.html in
/usr/lib/ckan/default/src/ckan/ckan/templates/home/.

In the future, we could likely push a new item to the front page layouts
dropdown in the settings page and rename this file layout4.html.

-->

<div class="outer">
  <div role="main" class="hero inner">
    <div class="container">
      <div class="row row1" style="height: 380px;">
        <div class="span5 offset1 col1">
          <h1 class="hero-text-heading hero-text">The central data repository for Philadelphia</h1>
          <p class="hero-text-description hero-text">OpenDataPhilly is the official open data repository for the city. The data here comes from the government and from individual users.</p>
        </div>
        <div class="span4 col1">
          <div class="carousel-controls">
            <a class="carousel-control left" href="#vizcarousel" data-slide="prev"><img src="/img/larrow.svg"></a>
            <a class="carousel-control right" href="#vizcarousel" data-slide="next"><img src="/img/rarrow.svg"></a>
          </div>
          <div id="vizcarousel" class="carousel">
            <div class="carousel-inner">
              <div class="spinner"></div>
              <div class="active item in" data-url="/render/62805" data-slide-number="0">
                <div class="vizcarousel-desc">
                  <h1 class="vizcarousel-desc-text">PHL Crime Map</h1>
                  <p class="vizcarousel-desc-text">by Dave Walk</p>
                  <p class="vizcarousel-desc-text">The Crime Map uses the <a href="#">Philly PPD</a> data set.</p>
                </div>
                <img src="/img/odp-viz-1.png" srcset="/img/odp-viz-1@2x.png 2x">
              </div>
              <div class="item" data-url="/render/62808">
              </div>
              <div class="item" data-url="/render/62807">
              </div>
            </div>
            <div class="carousel-controls">

            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

<div role="main" class="main-search">
  <div class="container">
    <div class="row row1">
      <div class="span6 col1">
        {% snippet 'home/snippets/search.html' %}
      </div>
      <div class="span4 offset1 col1">
        <div class="module-content box getstarted">
          <p>
            Get started by searching from
            <b>{{ h.odp_theme_dataset_count() }}</b>
            datasets that cover all dimensions of Philadelphia,
            from city council districts to park locations.
          </p>
        </div>
      </div>
    </div>
  </div>
</div>
<div role="main" class="main-browse">
  <div class="container">
    <div class="row row2">
<!--       <div class="span3 col1">
        <div class="module-content box">
        </div>
      </div> -->
      <div class="span12 col1">
        <div class="module-content box">
          <h1 class="browse-heading">Browse by Topic</h1>
          <div>
              {% for topic in h.odp_theme_groups() %}
                <a href="/group/{{ topic.name }}" class="browse-topic">
                  <img class="browse-topic-image" src="{{ topic.image_display_url }}">
                  <div class="browse-topic-title">
                    {{ topic.display_name }}
                  </div>
                </a>
              {% endfor %}
          </div>
        </div>

      </div>
    </div>
  </div>
</div>
<div role="main" class="main-featured">
  <div class="container">
    <div class="row row2">
      <div class="span12 col1">
        <div class="module-content box">
          <h1 class="featured-heading">Featured Projects</h1>
            {% snippet "related/snippets/related_list.html", related_items=h.odp_theme_apps() %}
        </div>
      </div>
    </div>
  </div>
</div>
<div role="main" class="main-updates">
  <div class="container">
    <div class="row row2">
      <div class="span6 col1">
        {% snippet 'home/snippets/latest_datasets.html' %}
      </div>
      <div class="span6 col2">
        <div class="module-content box">
          <h2 class="secondary-heading">Tweets</h2>
        </div>
      </div>
    </div>
  </div>
</div>
