$primary-color: #31383c;
$secondary-color: #20c3c4;
$tertiary-color: #6E7A81;

$gray: #666;
$gray-light: #999;
$gray-lightest: #f2f2f2;

$headings-color: $primary-color;
$text-color: #444849;

$heading-size-h0: 44px;
$heading-size-h1: 27px;
$heading-size-h2: 22px;
$heading-size-h3: 17.5px;
$heading-size-h4: 14px;
$heading-size-h5: 12px;

$border-radius: 3px;

$font: 'Lato', sans-serif;

$heading-line-height: 1.3;
$text-line-height: 1.5;
