/* line 1, sass/partials/_carousel.scss */
.carousel-inner {
  overflow: visible;
  opacity: 1;
  width: 450px;
  height: 450px;
}
/* line 6, sass/partials/_carousel.scss */
.carousel-inner > .item {
  position: absolute;
  opacity: 0;
  display: block;
  transition: all 400ms;
}
/* line 12, sass/partials/_carousel.scss */
.carousel-inner > .item.active.in {
  opacity: 1;
  display: block;
}

/* line 18, sass/partials/_carousel.scss */
.carousel-control {
  position: static;
  border: 0;
  background-color: transparent;
  opacity: 1;
}
/* line 23, sass/partials/_carousel.scss */
.carousel-control:hover {
  opacity: .6;
}
/* line 26, sass/partials/_carousel.scss */
.carousel-control > img {
  height: 16px;
}

/* line 31, sass/partials/_carousel.scss */
.carousel-controls {
  bottom: 0;
  line-height: 20px;
  font-size: 26px;
  font-weight: bold;
  position: absolute;
  background-color: #20c3c4;
  z-index: 300;
  padding: 0 10px;
  color: #fff;
  right: 0;
}

/* line 44, sass/partials/_carousel.scss */
.vizcarousel-desc {
  text-align: center;
  background-color: #20c3c4;
  position: absolute;
  opacity: 0;
  transition: opacity 400ms;
  padding: 30px 10px;
  text-align: center;
  width: 100%;
  height: 100%;
  padding-top: 140px;
}
/* line 55, sass/partials/_carousel.scss */
.vizcarousel-desc > p > a, .vizcarousel-desc > p, .vizcarousel-desc > .vizcarousel-desc-text {
  color: #fff;
}
/* line 58, sass/partials/_carousel.scss */
.vizcarousel-desc.active {
  opacity: 1;
}

/* line 63, sass/partials/_carousel.scss */
.item {
  width: 450px;
  height: 450px;
  z-index: 200;
  transition: all 400ms;
  -webkit-border-radius: 100%;
  -moz-border-radius: 100%;
  border-radius: 100%;
  overflow: hidden;
  -webkit-mask-image: -webkit-radial-gradient(circle, white, black);
}

/* line 5, sass/main.scss */
body {
  background: #31383c none;
  -moz-osx-font-smoothing: grayscale;
  -webkit-font-smoothing: antialiased;
  -webkit-font-feature-settings: "kern" 1;
  -moz-font-feature-settings: "kern" 1;
  -ms-font-feature-settings: "kern" 1;
  font-feature-settings: "kern" 1;
  text-rendering: geometricPrecision;
  font-family: "Colfax";
  color: #444849;
  line-height: 1.5;
}

/* line 19, sass/main.scss */
h1, h2, h3, h4, h5, h6 {
  line-height: 1.3;
  color: #31383c;
}

/* line 24, sass/main.scss */
h1 {
  font-size: 27px;
}

/* line 28, sass/main.scss */
h2 {
  font-size: 22px;
}

/* line 32, sass/main.scss */
h3 {
  font-size: 17.5px;
}

/* line 36, sass/main.scss */
h4 {
  font-size: 14px;
}

/* line 40, sass/main.scss */
h5 {
  font-size: 12px;
}

/* line 44, sass/main.scss */
a {
  color: #31383c;
}

/* line 48, sass/main.scss */
.resource-item .heading {
  color: #31383c;
}

/* line 52, sass/main.scss */
.dataset-heading {
  font-size: 17.5px;
}

/* line 56, sass/main.scss */
.box, .wrapper, .btn, .label, .media-view:hover, .media-view.hovered, .media-view {
  border: none;
  -webkit-border-radius: 3px;
  -moz-border-radius: 3px;
  border-radius: 3px;
  -webkit-box-shadow: none;
  -moz-box-shadow: none;
  text-shadow: none;
  box-shadow: none;
}

/* line 67, sass/main.scss */
input, textarea, select {
  font-family: "Colfax";
}

/* line 72, sass/main.scss */
.btn, .label {
  background-image: none;
}

/* line 76, sass/main.scss */
.masthead {
  padding-top: 4px;
  background: #31383c none;
}

/* line 81, sass/main.scss */
.masthead input[type="text"] {
  color: #fff;
  border: 0px;
  border-radius: 0;
  -webkit-border-radius: 0;
  -moz-border-radius: 0;
}

/* line 89, sass/main.scss */
.module-grid {
  background: #fbfbfb none;
}

/* line 93, sass/main.scss */
.banner {
  background-color: #31383c;
}

/* line 97, sass/main.scss */
.media-grid {
  background: #fbfbfb none;
}

/* line 101, sass/main.scss */
.simple-input .field .btn-search {
  left: 0;
  right: auto;
  color: #fff;
}

/* line 107, sass/main.scss */
.site-footer {
  background: #000 none;
}

/* line 112, sass/main.scss */
[role=main],
.main {
  background-image: none;
}

/* line 116, sass/main.scss */
.masthead .site-search input {
  width: 90px;
  padding: 4px 10px 4px 30px;
  box-shadow: none;
  background-color: transparent;
}

/* line 123, sass/main.scss */
.account-masthead {
  background: #31383c none;
  border-bottom: 1px solid rgba(255, 255, 255, 0.2);
}

/* line 128, sass/main.scss */
.account-masthead .account ul li {
  border-left: none;
}

/* line 132, sass/main.scss */
.account-masthead .account ul li a:hover {
  background-color: #20c3c4;
}

/* line 137, sass/main.scss */
.nav-item.active > a,
.nav-aside li.active a {
  position: relative;
  color: #ffffff;
  background-color: #6e7a81;
}

/* line 144, sass/main.scss */
.nav-item.active > a:before,
.nav-aside li.active a:before {
  background-image: none;
}

/* line 148, sass/main.scss */
h2.module-heading {
  font-size: 12px !important;
}
/* line 150, sass/main.scss */
h2.module-heading > i {
  display: none;
}

/* line 155, sass/main.scss */
.btn-primary, .btn-success, .btn-success:hover, .btn-success:active {
  background: #20c3c4 none;
  -webkit-border-radius: 3px;
  -moz-border-radius: 3px;
  border-radius: 3px;
  text-shadow: none;
  border: 0;
}

/* line 164, sass/main.scss */
.homepage .module-search .module-content .heading {
  font-size: 27px;
}

/* line 168, sass/main.scss */
.site-search.simple-input {
  border-bottom: 2px solid #eee;
}

/* line 172, sass/main.scss */
.module-search > .tags {
  display: none;
}

/* line 176, sass/main.scss */
.nav-tabs > li, .nav-pills > li {
  font-weight: bold;
}

/* line 180, sass/main.scss */
.btn {
  padding: 10px 14px;
}

/* line 184, sass/main.scss */
.masonry-brick .count {
  font-weight: normal;
}

/* line 188, sass/main.scss */
.btn-group > .btn, .form-horizontal > .btn, .btn-small {
  padding: 4px 12px;
}

/* line 193, sass/main.scss */
.masthead .navigation .nav-pills li a:hover,
.masthead .navigation .nav-pills li.active a {
  background-color: #20c3c4;
}

/* line 197, sass/main.scss */
.search-form .filter-list .pill {
  background-color: #6e7a81;
}

/* line 201, sass/main.scss */
.search-form .search-input.search-giant button {
  left: 10px;
  right: 0;
}

/* line 206, sass/main.scss */
.search-form .search-input.search-giant button i {
  font-size: 20px;
  width: 20px;
  color: #6e7a81;
}

/* line 212, sass/main.scss */
[role=main] > #content {
  margin-top: 20px !important;
}

/* line 216, sass/main.scss */
.module-footer .read-more {
  color: #666666;
  font-weight: normal;
}

/* line 221, sass/main.scss */
.search-form .search-input.search-giant input {
  padding: 15px 15px 15px 40px;
  border: #6e7a81 2px solid;
}

/* line 226, sass/main.scss */
.homepage .module-search {
  background-color: transparent;
}
/* line 228, sass/main.scss */
.homepage .module-search .module-content {
  -webkit-border-radius: 0;
  -moz-border-radius: 0;
  border-radius: 0;
  background-color: transparent;
  border-bottom: none;
  color: #31383c;
}

/* line 238, sass/main.scss */
label {
  font-size: 14px;
}

/* line 242, sass/main.scss */
.logo {
  width: 210px;
  display: inline-block;
  position: relative;
  top: 9px;
}

/* line 249, sass/main.scss */
.getstarted {
  background-color: transparent;
  color: #6e7a81;
  border: 1px solid #6e7a81;
}

/* line 255, sass/main.scss */
.browse-topic {
  text-align: center;
  width: 115px;
  margin-bottom: 20px;
  margin-right: 10px;
  display: inline-block;
  vertical-align: top;
  transition: all 400ms;
}
/* line 264, sass/main.scss */
.browse-topic:hover {
  text-decoration: none;
  opacity: .5;
}

/* line 270, sass/main.scss */
.search-form h2 {
  color: #31383c;
}

/* line 274, sass/main.scss */
.browse-heading {
  margin-bottom: 28px;
}

/* line 278, sass/main.scss */
.homepage .module-search .module-content .heading {
  margin-bottom: 18px;
}

/* line 282, sass/main.scss */
.browse-topic:nth-child(7n+0) {
  margin-right: 0;
}

/* line 286, sass/main.scss */
.browse-topic-image {
  height: 40px;
  margin-bottom: 12px;
}

/* line 291, sass/main.scss */
.main-browse {
  background-color: #fff;
}

/* line 295, sass/main.scss */
.main-featured {
  background-color: #6e7a81;
}
/* line 297, sass/main.scss */
.main-featured .module-content, .main-featured .media-grid {
  background-color: transparent;
  border: 0;
}

/* line 303, sass/main.scss */
.main-search {
  padding-top: 34px !important;
}

/* line 307, sass/main.scss */
.dataset-heading a {
  color: #31383c;
}

/* line 311, sass/main.scss */
.context-info h1.heading {
  font-size: 17.5px !important;
}

/* line 315, sass/main.scss */
.hero-text {
  color: #fff;
}

/* line 319, sass/main.scss */
.hero-text-heading {
  font-size: 44px;
}

/* line 323, sass/main.scss */
.hero-text-description {
  font-size: 17.5px;
}

/* line 327, sass/main.scss */
.featured-heading {
  color: #fff;
}

/* line 331, sass/main.scss */
.secondary-heading {
  font-weight: normal;
  color: #6e7a81;
  margin-bottom: 26px;
}

/* line 337, sass/main.scss */
.spinner {
  width: 40px;
  height: 40px;
  margin: 100px auto;
  background-color: #fff;
  position: absolute;
  left: 0;
  right: 0;
  z-index: 100;
  top: 90px;
  border-radius: 100%;
  -webkit-animation: scaleout 1.0s infinite ease-in-out;
  animation: scaleout 1.0s infinite ease-in-out;
}

@-webkit-keyframes scaleout {
  /* line 353, sass/main.scss */
  0% {
    -webkit-transform: scale(0);
  }

  /* line 354, sass/main.scss */
  100% {
    -webkit-transform: scale(1);
    opacity: 0;
  }
}

@keyframes scaleout {
  /* line 361, sass/main.scss */
  0% {
    transform: scale(0);
    -webkit-transform: scale(0);
  }

  /* line 364, sass/main.scss */
  100% {
    transform: scale(1);
    -webkit-transform: scale(1);
    opacity: 0;
  }
}

/* line 371, sass/main.scss */
.outer {
  overflow: hidden;
  position: relative;
  width: 100%;
  height: 400px;
  margin-top: 20px;
}

/* line 379, sass/main.scss */
.inner {
  position: absolute;
  height: 100px;
  width: 100%;
}

/* line 385, sass/main.scss */
.media-view > .banner {
  display: none;
}

/* line 389, sass/main.scss */
.dataset-item {
  border-bottom: 1px solid #dddddd;
}

/* line 393, sass/main.scss */
.main-updates .module-content {
  background-color: transparent;
}

/* line 397, sass/main.scss */
.media-item {
  transition: background-color 400ms;
}
/* line 399, sass/main.scss */
.media-item:hover {
  background-color: #eee;
}
