{% ckan_extends %}
{% block package_notes %}
  {% if c.pkg_notes_formatted %}
    <div class="notes embedded-content">
      {{ c.pkg_notes_formatted }}
    </div>
  {% endif %}

{% if not c.pkg.resources and c.pkg.extras.published == 'false' %}
  <div>
    {% snippet 'snippets/unpublished_count.html', package=c.pkg.id %}
  </div>
  <div>
    {% snippet 'feedback/feedback-snippet.html', pkg_feedback=h.feedback_for_pkg(c.pkg.id),
                                                 user_feedback=h.user_feedback(c.pkg.id, c.userobj.id),
                                                 pkg_id=c.pkg.name %}
  </div>
{% endif %}

{% endblock %}

{% block package_resources %}{% if c.pkg.extras.published != 'false' %}{{ super() }}{% endif %}{% endblock %}
{% block package_additional_info %}{% if c.pkg.extras.published != 'false' %}{{ super() }}{% endif %}{% endblock %}
{% block disqus_comments %}{% if c.pkg.extras.published != 'false' %}{{ super() }}{% endif %}{% endblock %}
