{% if user_feedback %}
{% resource 'odp_theme/feedbackform.js' %}

{% import 'macros/form.html' as form %}

<div class="well unpublishfeedback">
    <form method="post" action="{{ h.url_for('view_feedback', id=pkg_id) }}">
        <div id="text-other">
            {{ form.textarea('comment', id='textfield-comment',
                             label='Let us know how releasing this dataset will benefit the Philadelphia community',
                             value=user_feedback.comments) }}
        </div>

        <button class="btn btn-primary" name="save" value="Submit" type="submit">{{ _('Save') }}</button>
    </form>
</div>

{% else %}

<div class="well unpublishfeedback">
    <h3 id="why-publish">Why do you think we should publish this data?</h3>
    <a href="/user/login" class="btn btn-primary" name="save" value="Submit" type="submit">{{ _('Login to Respond') }}</a href="/">
</div>


{% endif %}
    <hr>
    <h3>Feedback ({{ h.unpublished_count(pkg_id_id) }})</h3>
{% for feedback in pkg_feedback %}
  <div class="unpublishedfeedback well">
    {{ h.linked_user(feedback.user) }}

      <p>{{ feedback.comments|e|replace('\n', '<br />'|safe) }}</p>
    {% if sysadmin %}
        <form action="{{ h.url_for('view_feedback', id=pkg_id) }}" method="post">
            <input type="submit" class="btn btn-primary" name="delete" value="Remove" />
            <input type="hidden" name="id" value="{{ feedback.id }}" />
        </form>
    {% endif %}
  </div>
{% endfor %}
