{% extends "page.html" %}

{% block subtitle %}{{ _('Unpublished Dataset Report') }}{% endblock %}

{% block breadcrumb_content %}
{% endblock %}

{% block page_header %}{% endblock %}

{% block primary_content_inner %}
  <h1 class="hide-heading">{% block page_heading %}{{ _('Organizations') }}{% endblock %}</h1>
  <table class="table table-bordered">
      <thead>
          <tr>
              <th>Unpublished Dataset</th>
              <th>Comment Count</th>
          </tr>
      </thead>
      <tbody>
      {% for pkg in  c.packages %}
        <tr>
            <td><a href="{{ h.url_for(controller='package',
                                      action='read',
                                      id=pkg.name )}}">{{ pkg.title }}</a></td>
            <td>{{ pkg.unpublished_count }}</td>
        </tr>
      {% endfor %}
      </tbody>
  </table>
{% endblock %}

{% block secondary_content %}{% endblock %}
